GitOps Architecture Drift Guard (1).json
{
  "name": "GitOps Architecture Drift Guard",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-audit",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        32
      ],
      "id": "310a5b87-9201-43d3-ac61-6556b351631f",
      "name": "GitHub PR Webhook",
      "webhookId": "6b4ca952-55cb-4290-b9a1-fc70c6a4f3f9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"key\": \"{{ $env.GEMINI_API_KEY }}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analyze this incoming GitHub Pull Request title for initial patterns, architectural consistency, or clear design drift: {{ $json.body.pull_request?.title || 'No title provided' }}\"\n        }\n      ]\n    }\n  ],\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": \"You are the Base Logic Guard for ArchGuard (Stage 1). Your job is to extract structural meaning, identify core layers being altered, and check for pattern compliance based on the incoming pull request metadata. Output your raw architectural breakdown clearly.\"\n      }\n    ]\n  },\n  \"generationConfig\": {\n    \"temperature\": 0.2\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        32
      ],
      "id": "f29d3930-0060-42bf-9d4a-535e98e90cb1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"key\": \"{{ $env.GEMINI_API_KEY }}\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Take this initial structural analysis output from Stage 1:\\n\\n{{ $('HTTP Request').item.json.candidates[0].content.parts[0].text }}\\n\\nEvaluate these findings against the core infrastructure enforcement rules. Generate a definitive architectural health score and flag any strict violations.\"\n        }\n      ]\n    }\n  ],\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": \"You are the Compliance and Infrastructure Enforcer for ArchGuard (Stage 2). You ingest the raw component breakdown from Stage 1 and cross-reference it with the project's strict infrastructure rules. Your final output must always be a terminal-styled validation summary outlining if the PR is cleared to merge or blocked due to drift.\"\n      }\n    ]\n  },\n  \"generationConfig\": {\n    \"temperature\": 0.1\n{{ $('HTTP Request').item.json.candidates[0].content.parts[0].text }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        32
      ],
      "id": "812df0f8-0183-4ad6-b7b4-4e353dfd78ca",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "GitHub PR Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dd69edec-2d73-4575-85e6-5bfddbd0157b",
  "meta": {
    "instanceId": "832086644c275288b3cb278fa8bb4843a62d3fc639d15019148c68f177a24d77"
  },
  "nodeGroups": [],
  "id": "Uoyq5nZqepavDteK",
  "tags": []
}